body {
    background-image: url("../Images/formBackground.jpg");
    font-family: tahoma, sans-serif;
    margin: 0 auto;
}

form {
    /*padding-left: 20px;*/
    width:496px;
    height: 756px;
    margin: 0 auto;

}

form h3 {
    color: white;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 13px;
}

fieldset {
    border:none;
    margin-bottom: -20px;
}

.data {
    padding: 5px 10px;
    margin-bottom: 3px;
    width: 370px;
    height: auto;
    border: 2px solid #A9BFDB;
    border-radius: 5px;
    background-color: rgba(192,192,192,0.4);
    font-size: 0.9em;
}

input {
    border-radius: 5px;
    width: 190px;
    height: 20px;
    padding-left: 5px;
}

label {
    font-weight: normal;
    font-size: 0.9em;
}

textarea {
    margin-left: 61px;
    border-radius: 5px;
    width: 51%;
    padding-left: 5px;
    padding-top: 5px;
}

span {
    font-size: 0.9em;
}

#name, #tel{
    margin-left: 64px;
}

#address-label {
    vertical-align: top;
}

#email {
    margin-left: 68px;
}

#postcode {
    margin-left: 43px;
}

#country {
    margin-left: 54px;
}

input[type="radio"] {
    width:15px;
    margin: 10px 0 10px 15px;
    vertical-align: middle;
}

#visacard {
    background: url("../Images/visa.png") no-repeat;
    background-size: 35px 20px;
    padding-left: 37px;
}

#amexcard {
    background: url("../Images/amex.png") no-repeat;
    background-size: 34px 21px;
    padding-left: 35px;
}

#mastercard {
    background: url("../Images/mastercard.png") no-repeat;
    background-size: 35px 20px;
    padding-left: 36px;
}

#card-number {
    margin-left: 25px;
}

#security-code {
    margin-left: 23px;
}

#card-name {
    margin-left: 17px;
}

input[type="submit"] {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #04152F;
    color: white;
    border:none;
    margin-top: 20px;
    margin-left: 150px;
}