body {
	background-image:url(Background2.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:1300px;
	height:597px;
	margin:0 auto;
}

h1 {
	color:#F3BE60;
	font-size:3.2em;
	margin:0 ;
}

li {
	color:#F3BE60;
	font-size:1.2em;
	list-style-type: square;
}

.library {
	border: 1px solid white;
	background-color: #3F4141;
	margin: 0.5em;
	width: 1150px;
}
.pre{
    font-family: monospace;
    white-space: pre;
	font-size: 1.2em;
	margin: 0 auto;
}

.dt {
	font-size: 0.8em;
	color: #EBD2BB;
	font-family: monospace;
	padding: 5px;
}
.tag {
	color:white;
	font-size: 1em;
}
ul {
	font-size: 1.8em;
}
.dd {
	font-size: 0.8em;
	color: #EBD2BB;
	font-family: monospace;
}
.dt1 {
	font-size: 0.8em;
	color: #EBD2BB;
	font-family: monospace;
	padding-top: 5px;
	padding-left: 5px;
}
.dt2 {
	font-size: 0.8em;
	color: #EBD2BB;
	font-family: monospace;
	padding-bottom: 5px;
	padding-left: 5px;
}